.loginPage {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 100px;
}

.div {
    border: 2px solid black;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
}

form input {
    margin-bottom: 30px;
}

form button {
    color: black;
}